DATABASE_URL=postgresql://postgres:yourpassword@localhost:5432/cinelog
SECRET_KEY=your_secret_key_here
TMDB_API_KEY=your_tmdb_api_key_here
TEST_DATABASE_URL=postgresql://postgres:yourpassword@localhost:5432/cinelog_test